.information-block2
	
	.information-block2__item-1
		.gallary-card2
			img(class="gallary-card2__icon" src="images/icon3.svg" alt="bicycle")
			.gallary-card2__header LA BORIOSA
			.gallary-card2__discription Lorem ipsum is sumply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since, the 1500s. when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived. 
			hr.gallary-card__hr
			.gallary-card2__photo 
				img(class="gallary-card2__photo_img" src="images/bike3.jpg" alt="bicycle")
	.information-block2__item-2
		.gallary-image2
			img(class="gallary-image2__photo" src="images/bicycle-logo.svg" alt="bicycle")
		