.owl-carousel
	.message
		img(class="news__icon" src="images/twitter.svg" alt="icon")
		.message__header 
			.message__header_mainstr AOD New York @aod 
			.message__header_str  /  35min
		.message__discription Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut tellus ac nulla semper rhoncus. Nullam a odio porttitor, clictum turpis vitae, pretium ante amet.