.retrobike_block
	.retrobike_block-img
		img(class="retrobike_block-img__photo" src="images/bicycle-logo.svg" alt="bicycle")
	.retrobike_block-info
		img(class="retrobike_block-info__icon" src="images/icon4.svg" alt="bicycle")
		.retrobike_block-info__header RETRO BIKE - M. HULOT
		.retrobike_block-info__discription Lorem ipsum is sumply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since, the 1500s. when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived. 
		.retrobike_block-info__photo 
			img(class="retrobike_block-info__photo_img" src="images/retrobike3.jpg" alt="bicycle")
	.retrobike_block-img_1
	