.footer
	.footer__address
		.footer__address_town AOD New York
		.footer__address_index 2250 Lexington Avenue
		.footer__address_email New York, NY 10035 -info@domain.com

	.footer__icons
		a(class="footer__icons_twitter" href="https://twitter.com/")
		a(class="footer__icons_face" href="https://uk-ua.facebook.com/")
		a(class="footer__icons_pinter" href="https://www.pinterest.com/")
	.footer__author 
		.footer__author_signatre Handcrafted by
		img(class="footer__author_logo" alt="photo" src="images/yebo.svg")