.gallery
	.gallery__picture1
	img(class="gallery__picture2" alt="photo1" src="images/gallery2.jpg")
	img(class="gallery__picture3" alt="photo1" src="images/gallery3.jpg")
	img(class="gallery__picture4" alt="photo1" src="images/gallery4.jpg")
	img(class="gallery__picture5" alt="photo1" src="images/gallery5.jpg")
	img(class="gallery__picture6" alt="photo1" src="images/gallery6.jpg")
	img(class="gallery__picture7" alt="photo1" src="images/gallery7.jpg")
	img(class="gallery__picture8" alt="photo1" src="images/gallery8.jpg")
	


