.information-block
	.information-block__item-1
		.gallary-image
			img(class="gallary-image__photo" src="images/bicycle-logo2.svg" alt="bicycle")
		
	.information-block__item-2
		.gallary-card
			img(class="gallary-card__icon" src="images/icon2.svg" alt="bicycle")
			.gallary-card__header VINTAGE OLIVA
			.gallary-card__discription Lorem ipsum is sumply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since, the 1500s. when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived. 
			hr.gallary-card__hr
			.gallary-card__photo 
				img(class="gallary-card__photo_img" src="images/bike2.jpg" alt="bicycle")
			
