.search-block
	img(class="search-block__photo" alt="photo1" src="images/Logo.svg")
	.search-block__header Stay on the saddle!
	.search-block__forms
		input(class="search-block__forms_input" type="text" placeholder="enter your email...")
		button.search-block__forms_button GO
