
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header{
  background: url(../../images/backg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	max-width: 100%;
	position: relative;


    &__linki{
      display: flex;
	    flex-direction: row;
      justify-content: center;
        
        &_link{
          text-decoration: none;
          padding-left:33px;
          margin-top:68px;
          color:  #4d4959;
          font-size: 13px;
          font-family: 'Lato', sans-serif;
        }
        &_photo{
          padding:0 33px 0 33px;
          margin-top: 35px;
          
          
          
        }
      }
    


  
}