.news{
	align-items: center;
	background-color:  #f7f7f7;;
	display: flex;
	flex-direction: column;
	padding-bottom: 142px;
	padding-top:117px;

	&__icon{
		width: 52px;
		height: 43px;	
	}
	&__header{
		color:  #353638;
		font-family: 'Lato', sans-serif;
		font-size: 18px;
		text-align: center;
		font-weight: 700;
		padding-top:34px;
		padding-bottom:35px;
	}
	&__discription{
		font-family: 'Lato', sans-serif;
		color:  #848789;
		font-size: 18px;/* Приближение из-за подстановки шрифтов */
		font-weight: 400;
		line-height: 34px;/* Приближение из-за подстановки шрифтов */
		text-align: center;
		padding:0 243px 0 243px;
	}
}