

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Bike
    link(rel='stylesheet', href='./css/all.css')
    link(href="https://fonts.googleapis.com/css?family=Roboto", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lato:700", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
    link(rel="stylesheet" href="./lib/OwlCarousel2-2.3.4/dist/assets/owl.carousel.min.css")
    link(rel="stylesheet" href="./lib/OwlCarousel2-2.3.4/dist/assets/owl.theme.default.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
    script(src="./lib/OwlCarousel2-2.3.4/dist/owl.carousel.min.js")

  body
    include componets/header/header.pug
    include componets/news/news.pug
    include componets/information-block/information-block.pug
    include componets/information-block2/information-block2.pug
    include componets/retrobike_block/retrobike_block.pug
    include componets/message/message.pug
    include componets/gallery/gallery.pug
    include componets/discover-block/discover-block.pug
    include componets/search-block/search-block.pug
    include componets/footer/footer.pug
 
    script(src="js/scripts.min.js")

