.footer
	.footer-item1
		.footer-item1__address-town AOD New York
		.footer-item1__address-index 2250 Lexington Avenue
		.footer-item1__address-email New York, NY 10035 -info@domain.com

	.footer-item2
		a(class="footer-item2__icons-twitter" href="https://twitter.com/")
		a(class="footer-item2__icons-face" href="https://uk-ua.facebook.com/")
		a(class="footer-item2__icons-pinter" href="https://www.pinterest.com/")
	.footer-item3
		.footer-item3__author-signatre Handcrafted by
		img(class="footer-item3__author-logo" alt="photo" src="images/yebo.svg")